* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar {
    height: 60px;
    background-color:#e2d8df;
    color: white;
    display: flex;
    
     
    

}
.nav-logo {
    height: 60px;
    width: 340px;
    display: flex;
    margin-bottom: 10px;
}
.logo{
    background-image: url("logoss.jpeg");
    background-color: cover;
    height: 100%;
    width: 340px;
    display: flex;
}
.home{
    margin-left: 400px;
    display: flex;
    text-align: center;
    margin-top: 15px;
}
.p{
    margin-left: 7px;
    margin-top: 15px;
}
.a{
    margin-top: 15px;
    margin-left: 7px;
}
.s{
    margin-top: 15px;
    margin-left: 8px;
}
 .co{
      margin-top: 15px;
      margin-left: 8px;
 } 

.cu{
    margin-top: 15px;
    margin-left: 8px;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    
}

.boxes{
    height: 320px;
    border: 2px solid whitesmoke;
    width:23%;
    background-color: whitesmoke;
    background-size: cover;
    overflow: hidden;
    margin-top: 20px;
    margin-top: 150px;
    

}
.boxes-img{
   
     width: 100%;
     height: 220px;
     object-fit: cover;
    

}
/* Styling for the button */
.product-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
}

/* Change background color on hover */
.button:hover {
    background-color: #0056b3;
}
.pn{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}
.pp{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

footer {
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}

.footer0 {
    font-size: 30px;
    font-weight: bolder;
}

.footer1 {
    margin: 20px 0;
}

.footer1 p {
    font-size: 18px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons a {
    color: antiquewhite;
    font-size: 24px;
    text-decoration: none;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.footer-column {
    width: 200px;
}

.footer-column h4 {
    font-size: 18px;
    color: gray;
}

.footer-column a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}
